[submodule "abdtrust11/report"]
	path = abdtrust11/report
	url = git@github.com:abdtrust11/report.git
	branch = main

[submodule "abdtrust11/reports"]
	path = abdtrust11/reports
	url = git@github.com:abdtrust11/report.git
	branch = main

[submodule "abdtrust11/report3"]
	path = abdtrust11/report3
	url = git@github.com:abdtrust11/report.git
	branch = main

[submodule "abdtrust11/report999"]
	path = abdtrust11/report999
	url = git@github.com:abdtrust11/report.git
	branch = main

[submodule "abdtrust11/report90000"]
	path = abdtrust11/report90000
	url = git@github.com:abdtrust11/report.git
	branch = main

[submodule "abdtrust11/reportupdated"]
	path = abdtrust11/reportupdated
	url = git@github.com:abdtrust11/report.git
	branch = main

[submodule "abdtrust11/reportgo"]
	path = abdtrust11/reportgo
	url = git@github.com:abdtrust11/report.git
	branch = stage
